@using BookStore.Models.ViewModels
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-content">
        <h1>هر کتابی که می‌خواهی، اینجاست</h1>
        <p>با بیش از 100,000 عنوان کتاب در دسته‌بندی‌های مختلف، سفر مطالعاتی خود را آغاز کنید.</p>
        <a href="#" class="hero-btn">مشاهده پرفروش‌ها</a>
    </div>
</section>

<section class="categories">
   
    <h2>دسته‌بندی‌ها</h2>
    <div class="category-grid">
    @foreach (var category in Model.Categories)
    {
            <div class="category-card @category.ColorClassName">
            <span>@category.IconCharacter</span>
            <h3>@category.Name</h3>
            <p>@category.Description</p>
        </div>
    }
    </div>
</section>
<section class="latest-books">
    <h2>جدیدترین کتاب‌ها</h2>
    <div class="books-grid">

        @foreach (var book in Model.Books)
        {
            <div class="book-card">
                <div class="book-img">
                    
                    <img src="@book.ImageUrl" alt="@book.Title" width="180" height="280" style="object-fit: cover; border-radius: 8px;" />
                </div>
                <h3>@book.Title</h3>
                <p>@book.Author</p>
                
                <span class="pages">@book.PageCount صفحه</span>
               
                <div class="price">@book.Price.ToString("N0") ت</div>
            </div>
        }

    </div>
</section>